/*!
Theme Name: Whimsical Love
Theme URI: http://malevolentbunny.com/whimsical-love/
Author: Malevolent Bunny
Description: A vintage colored cute romantic theme.
Version: 2.0
License: GNU General Public License
License URI: license.txt
Text Domain: whimsical-love
Domain Path: /languages/
Tags: responsive-layout, right-sidebar, two-columns

 Whimsical Love is based on Sassy Starter(https://github.com/malevolentbunny/Sassy-Starter) which is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.
*/
/*Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* =Reset
-------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter|Source+Sans+Pro:400,400italic,700);
html, body, div, span, applet, object, iframe,
h1,
#masthead .site-branding .site-title, h2, .site-description, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box; }

body {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

a img {
  border: 0; }

/**
 * Gridpak Beta SCSS 
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
/* Reusable column setup */
#masthead .site-branding, #masthead #logo, #primary, #secondary {
  border: 0px solid transparent;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important; }

@media screen and (min-width: 0px) {
  .col {
    margin-left: 1%;
    padding: 0 1%; }

  #masthead, .nav-links {
    margin-left: 0; }

  #secondary {
    width: 32.66667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 1%; }

  #primary {
    width: 57.91667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 1%; }

  .site-branding {
    width: 74.75%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 1%; }

  .main-navigation, #masthead, #content, .site-info {
    width: 83.16667%;
    border-left-width: 0;
    padding: 0 1%;
    margin-left: 1%; } }
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #74716F;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-size: 100%; }

p, span, li, td, th, dd, dt, .wp-caption-text, address {
  font-size: 16px;
  font-size: 1.6rem; }

h1, #masthead .site-branding .site-title, h2, .site-description, #content h2, #content .site-description, h3, h4, h5, h6 {
  font-family: "Architects Daughter", cursive;
  color: #FF2632; }

h1, #masthead .site-branding .site-title {
  font-size: 32px;
  font-size: 3.2rem; }
  h1 a, #masthead .site-branding .site-title a {
    color: #FF2632;
    text-decoration: none; }

#masthead .site-branding .site-title a {
  color: #FF2632;
  font-size: 32px;
  font-size: 3.2rem; }

h2, .site-description {
  font-size: 28px;
  font-size: 2.8rem; }
  h2 a, .site-description a {
    font-size: 28px;
    font-size: 2.8rem; }

#content h2, #content .site-description {
  font-size: 28px;
  font-size: 2.8rem; }
  #content h2 a, #content .site-description a {
    text-decoration: none;
    color: #FF2632; }

.entry-title {
  color: #FF2632; }

h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h4 {
  font-size: 22px;
  font-size: 2.2rem; }

h5 {
  font-size: 20px;
  font-size: 2rem; }

h6 {
  font-size: 19px;
  font-size: 1.9rem; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

code,
kbd,
tt,
var,
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 16px;
  font-size: 1.6rem;
  max-width: 100%;
  overflow: auto; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

strong {
  font-weight: bold; }

sup {
  font-size: 75%;
  vertical-align: super; }

sub {
  font-size: 75%;
  vertical-align: sub; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #6ccbd0;
  /* Fallback for when there is no custom background color defined. */ }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""; }

blockquote,
q {
  quotes: "" ""; }

hr {
  background-color: #74716F;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

.widget-area ul {
  list-style: none; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 10px;
  background: #6ccbd0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02); }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  width: 95%; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  padding-left: 3px;
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #6ccbd0;
  text-decoration: none;
  font-size: 16px;
  font-size: 1.6rem; }

a:visited {
  color: #6ccbd0; }

a:hover,
a:focus,
a:active {
  color: #FF2632; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  margin: 2.5% auto 0;
  text-align: center; }

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation li {
  float: left;
  position: relative;
  margin-left: 2.5%; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 1.5em;
  left: -999em;
  z-index: 99999;
  background-color: #F4ECE9;
  border-radius: 10px;
  padding: 2.5%; }

.main-navigation ul ul ul {
  left: -999em;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul ul li {
  margin: 1%; }

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto; }

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
  left: 100%; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

#masthead {
  background-color: #F4ECE9;
  margin: 2.5% auto;
  border-radius: 10px;
  padding: 2.5%; }

.site-branding {
  vertical-align: center; }

#masthead #logo {
  width: 100px;
  height: 100px;
  margin-right: 2.5%;
  background: none;
  background-color: transparent;
  padding: 0; }

#content {
  margin-left: auto;
  margin-right: auto; }

#primary {
  margin-right: 2.5%; }

#secondary {
  background-color: #F4ECE9;
  border-radius: 10px;
  padding: 2.5%; }

article, #comments {
  background-color: #F4ECE9;
  border-radius: 10px;
  padding: 2.5%;
  overflow: hidden; }

.nav-previous, .nav-next {
  background-color: #F4ECE9;
  border-radius: 10px;
  padding: 2.5%;
  margin-bottom: 3%; }

.site-info {
  margin: 2.5% auto;
  background-color: #F4ECE9;
  padding: 2.5%;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem; }

td, th {
  padding: 2.5%;
  border: 1px solid #74716F; }

th {
  font-weight: bold; }

table {
  overflow: scroll; }

/* =Widgets
----------------------------------------------- */
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
  background-color: #FCF76F;
  border-radius: 0px; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none; }

.entry-footer span {
  margin-right: 2.5%; }

/* =Comments
----------------------------------------------- */
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  background: #F4ECE9; }

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/* =Media
----------------------------------------------- */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  background-color: #FFF;
  padding-bottom: 2.5%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img {
  background: #FFF;
  padding: 2.5% 2.5% 7.5%; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*# sourceMappingURL=style.css.map */
